---
layout: default
title: Posts
styles:
  - posts.css
scripts:
  - lazyload.min.js
  - tween.min.js
  - posts.js
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3&appId=223537611005659";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="mainPage">
    <div class="posts_container row">
        {% assign i = 0 %}
        {% for post in site.posts %}
            <div class="post_entry col-sm-6 col-lg-4" data-num="{{ i }}">
                <div class="inner-outer">
                    <div class="post_thumb" style="background-image:
                        {% if post.thumb != null %}
                        url('/assets/img/posts/{{ post.thumb }}')
                        {% elsif post.thumbnail != null %}
                        url('{{ post.thumbnail }}')
                        {% else %}
                        url(/assets/img/posts/no_img.png)
                        {% endif %}">
                        <a href="{{ post.url }}" class="post_url">
                            <div class="cover"></div>
                        </a>
                    </div>
                    <h3 class="text-center post_title">
                        <a href="{{ post.url }}" class="post_url">
                            {{ post.title }}
                        </a>
                    </h3>
                    <div class="post_info">
                        <small><p class="text-right post_created_time">{{ post.date | date_to_rfc822 }}</p></small>
                    </div>
                </div>
            </div>
            {% capture i %}{{ i | plus:1 }}{% endcapture %}
        {% endfor %}
    </div>
</div>

<div class="postPage _hide"> <!-- Se rellenará con un post --> </div>

<div class="circle-button waves-effect waves-circle waves-float hide back">
    <i class="fa fa-arrow-left"></i>
</div>

<div class="circle-button-group share">
    <div class="circle-button hide share">
        <i class="fa fa-share"></i>
    </div>

    <div class="circle-button-extra waves-effect waves-circle waves-float" id="share-tw">
        <a href="https://twitter.com/intent/tweet?" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
    </div>

    <div class="circle-button-extra waves-effect waves-circle waves-float" id="share-fb">
        <i class="fa fa-facebook"></i>
    </div>

    <div class="circle-button-extra waves-effect waves-circle waves-float" id="share-g+">
        <i class="fa fa-google-plus"></i>
    </div>
</div>
