---
layout: default
title: Posts
styles:
  - posts.css
scripts:
  - posts.js
  - lazyload.min.js
---
<div class="mainPage">
    <!-- TODO Rewrite del diseño de posts  - ponerlo parecido a BlenderGuru -->
    <!--<ul class="list-unstyled">
        {% for post in site.posts %}
            <li class="post_entry">
                <h2 class="post_header">
                    <a class="post_title" href="{{ post.url }}">{{ post.title }}</a>
                    <small><p class="text-right post_created_time">{{ post.date | date_to_rfc822 }}</p></small>
                </h2>
                <p class="lead post_content">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}...</p>
                <hr class="post-separator">
            </li>
        {% endfor %}
    </ul>-->

    <div class="posts_container">
        {% for post in site.posts %}
            <div class="post_entry">
                <div class="post_thumb">
                    {% if post.thumb != null %}
                    <img src="/assets/img/posts/{{ post.thumb }}">
                    {% elsif post.ext_thum != null %}
                    <img src="{{ post.ext_thum }}">
                    {% elsif post.thumbnail != null %}
                    <img src="{{ post.thumbnail }}">
                    {% else %}
                    <img src="/assets/img/posts/no_img.png">
                    {% endif %}
                    <a href="{{ post.url }}" class="post_url">
                        <div class="cover"></div>
                        <span>Ver</span>
                    </a>
                </div>
                <h3 class="text-center post_title">
                    <a href="{{ post.url }}" class="post_url">
                        {{ post.title }}
                    </a>
                </h3>
                <div class="post_info">
                    <small><p class="text-right post_created_time">{{ post.date | date_to_rfc822 }}</p></small>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="postPage _hide"> <!-- Se rellenará con un post --> </div>

<div class="return waves-effect waves-circle waves-float hide">
    <i class="fa fa-arrow-left"></i>
</div>