@import "lib/prefixed_statements";
@import "lib/material_design_colors";

body {
    overflow-x: hidden;
}

/**
 * Posts
 **/
/*.post_entry {
    .post_header {
        .post_title {
            color: @primary-color-normal;

            &:hover {
                color: @primary-color-light;
            }
        }
    }

    .post-separator {
        border-color: gray;
        border-style: dashed none none;
        margin-bottom: 30px;
    }
}*/

.post_entry {
    float: left;
    width: 45%;
    max-height: 360px;
    margin: 0 0 45px;

    &:nth-child(odd) {
        clear: left;
    }

    &:nth-child(even) {
        margin-left: 5%;
    }

    .post_thumb {
        max-height: 300px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        .post_url {
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: fade(@accent-color, 30%);
            opacity: 0;
            transition: opacity .2s linear;

            &:hover {
                opacity: 1;
            }

            span {
                position: absolute;
                color: white;
                top: 50%;
                left: 50%;
                margin-top: -15px;
                margin-left: -22px;
                padding: 3px 10px;
                border: lightblue dotted 2px;
            }
        }
    }

    .post_title {

    }
}

.mainPage {
    position: relative;

    &._hide {
        .animation(outMainPage .5s);
        left: -300px;
    }

    &.show {
        .animation(inMainPage .5s);
    }
}

.postPage {
    position: relative;
    top: 50px;

    &._hide {
        .animation(outPostPage .5s);
        left: 300px
    }

    &.show {
        display: block;
        .animation(inPostPage .5s);
    }
}

.return {
    background-color: @accent-color;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    box-shadow: rgba(0,0,0,0.35) 0px 2px 7px;
    cursor: pointer;
    position: fixed;
    right: 8%;
    top: 25px;

    i {
        font-size: 22px;
        padding: 13px 0px;
        color: white;
    }

    &.hide {
        display: block !important;
        top: -55px;
        .animation(outReturn .8s cubic-bezier(.72,.15,.5,.95)); 
    }

    &.show {
        .animation(inReturn .8s cubic-bezier(.72,.15,.5,.95));
    }
}

.keyframes(inReturn, {
    0% {
        top: -55px;
        .transform(rotate(180deg));
    }

    60% {
        top: 40px;
        .transform(rotate(-30deg));
    }

    100% {
        top: 20px;
        .transform(rotate(0deg));
    }
});

.keyframes(outReturn, {
    100% {
        top: -55px;
        .transform(rotate(180deg));
    }

    0% {
        top: 20px;
        .transform(rotate(0deg));
    }
});

.keyframes(outMainPage, {
    from {
        left: 0px;
        opacity: 1;
    }

    to {
        left: -300px;
        opacity: 0;
    }
});

.keyframes(inMainPage, {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
});

.keyframes(outPostPage, {
    from {
        top: 50px;
        left: 0px;
        opacity: 1;
    }

    to {
        top: 50px;
        left: 300px;
        opacity: 0;
    }
});

.keyframes(inPostPage, {
    from {
        left: 300px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
});
