<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }} - {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet'>
    <!-- Sticky Footer -->
    <link href="{{ site.baseurl }}/assets/css/bs-sticky-footer.css" rel="stylesheet">
    <!-- Personal Theme -->
    <link href="{{ site.baseurl }}/assets/css/base_style.css" rel="stylesheet">
    <!-- Syntax highlight theme -->
    <link href="{{ site.baseurl }}/assets/css/syntax.css" rel="stylesheet">
    <!-- Material design effect for links -->
    <link href="{{ site.baseurl }}/assets/css/waves.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <!-- <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed"> -->

    <!-- Custom styles from individual pages -->
    {% if page.styles %}
      {% for style in page.styles %}
        <link href="{{ site.baseurl }}/assets/{{ style }}" rel="stylesheet">
      {% endfor %}
    {% endif %}

  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="jb-navbar-collapse">
          <ul class="nav navbar-nav">
            {% for node in site.pages %}
                {% if node.title != null %}
                    {% if page.url == node.url %}
                        <li class="active">
                          <a href="{{ site.baseurl }}{{ node.url }}" class="waves-effect waves-light">{{ node.title }}</a>
                        </li>
                    {% else if node.title != '' %}
                        <li>
                          <a href="{{ site.baseurl }}{{ node.url }}" class="waves-effect waves-light">{{ node.title }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div class="container">
        {{ content }}
      </div>

    </div>

    <div id="footer">
      <div class="container">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with a little help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>. Powered by <a href="http://jekyllrb.com"
          title="Transform your plain text into static websites and blogs." target="_blank">Jekyll</a> and
          <a href="http://pages.github.com" target="_blank">Github Pages</a>
        </p>
      </div>
    </div>

    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Material design effect for links -->
    <script src="{{ site.baseurl }}/assets/js/waves.min.js"></script>
    <!-- Parallax effects -->
    <script src="{{ site.baseurl }}/assets/js/jquery.parallax.min.js"></script>
    <script>
      Waves.displayEffect();
    </script>

    <!-- Custom scripts from individual pages -->
    {% if page.scripts %}
      {% for script in page.scripts %}
        <script src="{{ site.baseurl }}/assets/{{ script }}"></script>
      {% endfor %}
    {% endif %}

  </body>
</html>
