/**
 * Función que define todas las variantes de @keyframes.
 * @name Nombre de la animación (o keyframes)
 * @rules Las reglas que definen la animación
 **/
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

/**
 * Coloca las variantes de animation con prefijos dados
 * los argumentos varios, definidos por la definición de
 * animation en CSS.
 * ... argumentos varios
 **/
@mixin animation($args...) {
    -webkit-animation: $args;
       -moz-animation: $args;
            animation: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
       -moz-transform: $args;
        -ms-transform: $args;
            transform: $args;
}
