---
---

@import "material_design_colors";

/**
 * Body
 **/
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#wrap {
    padding-top: 70px;
}

/**
 * Text
 **/
body, div, span, li {
    color: black;
}

a {
    transition: color .1s linear;
}

a:link, a:visited, a:focus {
    color: $primary-color-normal;
}

a:hover {
    color: $primary-color-light;
    text-decoration: none;
}

/**
 * Panels
 **/
.panel-default {
    border-color: transparent;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: $primary-color-normal;
}

.panel-default > .panel-heading a {
    color: $accent-color;
}

.panel-default > .panel-heading a:hover {
    color: $accent-color;
}

.panel-default > .panel-collapse > .panel-body {
    background-color: $primary-color-light;
    border-top-color: transparent;
}

/**
 * Navbar
 **/
.navbar-default {
    position: fixed;
    width: 100%;
    top: 0;
    background-image: none;
    background-color: $primary-color-normal;
    border: none;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    transition: background-color .2s linear, color .1s linear;
    height: 50px;
    padding: 15px;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: $primary-color-dark;
    line-height: 1.5em;
}

.navbar-default .navbar-nav > li.active > a {
    color: white;
    background-image: none;
    background-color: $primary-color-dark;
    transition: background-color .2s linear, color .1s linear;
}

.navbar-default .navbar-nav > li.active > a:hover {
    color: $accent-color;
    background-color: $primary-color-dark;
}

.navbar-default .navbar-brand {
    color: $accent-color;
    font-weight: 400;
    text-shadow: none;
}

.navbar-default .navbar-brand:hover {
    color: $accent-color;
}

.navbar-default .navbar-collapse {
    border-color: $primary-color-normal;
    box-shadow: none;
}

/**
 * Footer
 **/
#footer {
    background-color: $primary-color-normal;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 5px inset;
}

#footer a, #footer a:hover {
    color: $primary-color-light;
}

#footer p {
    color: $md-grey-100;
}

/**
 * Dark mode
 **/
body.darkmode { background-color: rgb(40, 40, 40) }
.darkmode {
     h1, h2, h3, h4, h5, h6, div, span, p, li {
         color: white;
     }

     a {
         color: #9fa8da;

         &:hover {
             color: #3f51b5;
         }
     }

     .zoom-overlay {
         background: rgb(40, 40, 40);
     }

     &.darkmode-inmediate {
         transition: none;
         h1, h2, h3, h4, h5, h6, div, span, p, li {
             transition: none;
         }
     }
}

body {
    transition: background-color 1s ease-in-out;
}

h1, h2, h3, h4, h5, h6, div, span, p, li {
    transition: color 1s ease-in-out;
}
