---
---

@import "prefixed_statements";
@import "material_design_colors";

/**
 * Spin load from Google's Material Design
 **/
//Parte de http://codepen.io/jczimm/pen/vEBpoL
.load-spin-container {
    margin-top: 20px;
    margin-bottom: 60px;

    &.overlay-loading {
        position: fixed;
        top: 20px;
        left: 50%;
        background: white;
        border-radius: 50px;
        animation: overlayLoadingShow .25s ease-in-out;
        z-index: 1045;
    }

    .load-spin {
        width: 42px;
        height: 42px;
        padding: 6px;
        background: white;
        border-radius: 26px;
        box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px 0px;

        .load-spin-inner {
            animation: rotate 2s linear infinite;
            height: 100%;
            transform-origin: center center;
            width: 100%;
            margin: auto;

            .path {
                stroke-dasharray: 1,200;
                stroke-dashoffset: 0;
                animation:
                    dash 1.5s ease-in-out infinite,
                    color 6s ease-in-out infinite
                ;
                stroke-linecap: round;
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}
@keyframes overlayLoadingShow {
    0% { top: -60px }
    10% { top: -60px }
    100% { top: 20px }
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
@keyframes color {
    100%, 0% {
        stroke: $red;
    }
    40% {
        stroke: $blue;
    }
    66% {
        stroke: $green;
    }
    80%, 90% {
        stroke: $yellow;
    }
}

/**
 *  Gallery grid
 **/
.gallery > div > div {
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 5px;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: box-shadow cubic-bezier(0.33, 0, 0.66, 1) .3s;
    background-position: center;
    background-size: cover;
    text-align: center;
    cursor: pointer;

    &::selection {
        background-color: rgba(0, 0, 0, 0);
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px 1px;
    }

    & > .square {
        position: relative;
        width: 100%;

        opacity: 0;
        border-radius: 4px;
        text-align: center;
        background: rgba(0,0,0,.40);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 100%);
        transition: opacity cubic-bezier(0.33, 0, 0.66, 1) .3s;

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &:hover {
            opacity: 1;
        }
    
        .square-content {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .photo-title {
            padding-top: 85%;
            padding-left: 5px;
            padding-right: 5px;
            color: white;
            font-size: 22px;
            font-weight: bold;
            text-shadow: rgba(255,255,255,.3) 0 0 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media(max-width: 756px) {
                font-size: 18px;
                padding-top: 87.5%;
            }
        }
    }
}

/**
 *  Image overlay
 **/
.photo-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 1);
    z-index: 1040;
    opacity: 0;
    transition: opacity linear .5s;

    &.show {
        animation: fadeIn .5s;
        opacity: 1;
    }

    .image-view {
        height: 100%;
        float: left;
        transition: width .5s cubic-bezier(0.33, 0, 0.66, 1),
            flex .5s cubic-bezier(0.33, 0, 0.66, 1),
            max-width .5s cubic-bezier(0.33, 0, 0.66, 1);
        padding: 0;

        img {
            width: 100%;
            height: auto;
        }

        .img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        #img2 {
            position: relative;
            top: -100%;
            display: none;
        }

        &.max-size {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%
        }
    }

    .image-info {
        position: absolute;
        height: 100%;
        float: left;
        padding: 20px;
        background-color: rgb(240, 240, 240);
        box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px 5px;
        top: 0px;
        right: 0px;
        overflow-y: scroll;
        transition: right .5s cubic-bezier(0.33, 0, 0.66, 1);

        .page-header {
            border-bottom-color: #777;
        }

        &.min-size {
            right: -33.3333%;
        }
    }

    .buttons-container {
        position: relative;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity .1s linear;

        &.no-move {
            opacity: 0;
            transition: opacity .5s cubic-bezier(0.33, 0, 0.66, 1);
        }

        .buttons {
            position: relative;
            top: 10px;
            right: 10px;

            button {
                transition: opacity .2s linear;

                span {
                    color: white;
                    text-shadow: 0 1px 0 black;
                }
            }
        }

        .change-photo {
            position: relative;
            float: left;
            top: 49%;
            color: white;
            text-shadow: 0 1px 0 black;
            cursor: pointer;
            opacity: 0.4;
            transition: opacity .2s linear .1s, left .5s cubic-bezier(0.33, 0, 0.66, 1);

            &:hover {
                opacity: 0.9
            }

            &.prev {
                left: 10px;
            }

            &.next {
                left: 92.5%;
            }
        }
    }

    .zoom-container {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1050;
        overflow: scroll;

        .zoom-image-info {
            cursor: default;
            position: fixed;
            top: 10px;
            left: 10px;
            color: white;
            font-size: 20px;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

/**
 * Page header
 **/
#wrap > .container {
    padding-top: 300px;
}

.gallery-header {
    width: 100%;
    left: 0;
    top: 43px;
    height: 300px;
    margin-bottom: 30px;

    & ::selection {
        background: transparent;
    }

    .image-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }

    h1 {
        color: white;
    }

    p {
        color: white
    }

    & > div {
        height: 100%;
        padding: 50px;
        text-align: center;
        background-color: rgba(0,0,0,0.3)
    }
}
