---
---

@import "prefixed_statements";
@import "material_design_colors";

body {
    overflow-x: hidden;
}

pre {
    background-color: #2a2a2a;

    code {
        color: white;
    }
}

/**
 * Posts
 **/
.post_entry {
    margin: 0 0 15px;
    padding: 5px;

    //Clearfix para tener pares de posts en linea
    @media (min-width: 768px) and (max-width: 1199px) {
        &:nth-child(odd) {
            clear: left;
        }
    }

    @media (min-width: 1200px) {
        //Los elementos multiplos de 3 (0, 3, 6, ...)
        //n empieza en 1, no en 0
        &:nth-child(3n+1) {
            clear: left;
        }
    }


    .inner-outer {
        border-radius: 4px;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
        transition: box-shadow .2s linear;
        width: 100%;
        height: 100%;
        background-color: $primary-color-normal;

        &:hover {
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.55);
        }
    }

    .post_thumb {
        margin-top: 10px;
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 4px 4px 0 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .post_url {
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: transparent;
            transition: opacity .2s linear;
        }
    }

    .post_title {
        padding-right: 25px;
        padding-left: 25px;
        a {
            color: white;
        }
    }

    .post_info {
        padding-right: 25px;
        color: white;
    }
}

.container {
    position: relative; //Para que funcione el efecto
}

.mainPage {
    position: relative;

    &._hide {
        @include animation(outMainPage .5s);
        left: -300px;
        opacity: 0
    }

    &.show {
        @include animation(inMainPage .5s);
    }
}

.postPage {
    position: relative;
    font-size: 16px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        font-size: 20px;
    }

    &._hide {
        @include animation(outPostPage .5s);
        left: 300px
    }

    &.show {
        display: block;
        @include animation(inPostPage .5s);
    }

    img {
        max-width: 100%;
        height: auto
    }

    iframe.yt {
        position: relative;
        border: none;
        left: 50%;

        @media (max-width: 767px) {
            width: 320px;
            height: 240px;
            margin-left: -160px;
        }

        @media (min-width: 768px) {
            width: 640px;
            height: 360px;
            margin-left: -320px;
        }

        @media (min-width: 992px) {
            width: 853px;
            height: 480px;
            margin-left: -427px;
        }

        @media (min-width: 1400px) {
            width: 1280px;
            height: 720px;
            margin-left: -640px;
        }
    }
}

.circle-button {
    background-color: $accent-color;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    box-shadow: rgba(0,0,0,0.35) 0px 2px 7px;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    right: 8%;
    top: -130px;
    transition: box-shadow .2s ease-in-out;

    i {
        font-size: 22px;
        padding: 13px 13px;
        color: white;
    }

    &.hide {
        display: block !important;
        top: -130px;
        @include animation(outReturn .8s cubic-bezier(.72,.15,.5,.95));
    }

    &.show {
        @include animation(inReturn .8s cubic-bezier(.72,.15,.5,.95));
        top: 25px;
    }

    &.share {
        position: relative;
        right: 0;
        margin-right: 0;
    }

    &.back {
        position: fixed !important;
    }

    &:hover {
        box-shadow: rgba(0,0,0,0.35) 0 3px 10px 2px;
    }
}

.circle-button-group {
    position: fixed;
    top: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 10;

    .circle-button-extra {
        @extend .circle-button;
        position: relative;
        right: 0;
        top: -73px;
        margin-top: 10 + 5px;
        margin-left: 5px;
        width: 48 - 10px;
        height: 48 - 10px;
        float: left;
        clear: left;
        display: none;
        opacity: 0;
        z-index: -1;
        @include transform(scale(0.1));
        transition: all .3s ease-in-out;

        i {
            padding: 9px 0
        }

        &.hover {
            top: 25px !important;
            opacity: 1;
            @include transform(scale(1.0));
            z-index: 0;
        }
    }

    &.hover {
        opacity: 1;
    }

    &.share {
        right: 8%;
        margin-right: 48 + 15px;
    }
}


@include keyframes(inReturn) {
    0% {
        top: -130px;
        @include transform(rotate(180deg));
    }

    60% {
        top: 50px;
        @include transform(rotate(-30deg));
    }

    100% {
        top: 25px;
        @include transform(rotate(0deg));
    }
};

@include keyframes(outReturn) {
    100% {
        top: -130px;
        @include transform(rotate(180deg));
    }

    0% {
        top: 25px;
        @include transform(rotate(0deg));
    }
};

@include keyframes(outMainPage) {
    from {
        left: 0px;
        opacity: 1;
    }

    to {
        left: -300px;
        opacity: 0;
    }
};

@include keyframes(inMainPage) {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
};

@include keyframes(outPostPage) {
    from {
        top: 50px;
        left: 0px;
        opacity: 1;
    }

    to {
        top: 50px;
        left: 300px;
        opacity: 0;
    }
};

@include keyframes(inPostPage) {
    from {
        left: 300px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
};
