---
---

@import "prefixed_statements";
@import "material_design_colors";

body {
    overflow-x: hidden;
}

pre {
    background-color: #2a2a2a;

    code {
        color: white;
    }
}

/**
 * Posts
 **/
.card {
    background-color: $primary-color-normal !important;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.35);
    transition: box-shadow .25s ease-in-out;

    &:hover {
        box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.35);
    }

    .post_thumb {
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 4px 4px 0 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .post_url {
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: transparent;
            transition: opacity .2s linear;
        }
    }
}

.container {
    position: relative; //Para que funcione el efecto
}

.mainPage {
    position: relative;
}

.postPage {
    position: relative;
    font-size: 16px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        font-size: 20px;
    }

    img {
        max-width: 100%;
        height: auto
    }

    iframe.yt {
        position: relative;
        border: none;
        left: 50%;

        @media (max-width: 767px) {
            width: 320px;
            height: 240px;
            margin-left: -160px;
        }

        @media (min-width: 768px) {
            width: 640px;
            height: 360px;
            margin-left: -320px;
        }

        @media (min-width: 992px) {
            width: 853px;
            height: 480px;
            margin-left: -427px;
        }

        @media (min-width: 1400px) {
            width: 1280px;
            height: 720px;
            margin-left: -640px;
        }
    }
}

.circle-button {
    background-color: $accent-color;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    box-shadow: rgba(0,0,0,0.35) 0px 2px 7px;
    cursor: pointer;
    position: fixed;
    z-index: 1035;
    right: 8%;
    top: -130px;
    transition: box-shadow .2s ease-in-out;

    i {
        font-size: 22px;
        padding: 13px 13px;
        color: white;
    }

    &.hide {
        display: block !important;
        top: 25px;
        @include transform(scale(0));
        @include animation(outReturn .2s cubic-bezier(.72,.15,.5,.95));
    }

    &.show {
        @include animation(inReturn .2s cubic-bezier(.72,.15,.5,.95));
        @include transform(scale(1));
        top: 25px;
    }

    &.share {
        position: relative;
        right: 0;
        margin-right: 0;
    }

    &.back {
        position: fixed !important;
    }

    &:hover {
        box-shadow: rgba(0,0,0,0.35) 0 3px 10px 2px;
    }
}

.circle-button-group {
    position: fixed;
    top: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 1035;

    .circle-button-extra {
        @extend .circle-button;
        position: relative;
        right: 0;
        top: -73px;
        margin-top: 10 + 5px;
        margin-left: 5px;
        width: 48 - 10px;
        height: 48 - 10px;
        float: left;
        clear: left;
        display: none;
        opacity: 0;
        z-index: -1;
        @include transform(scale(0.1));
        transition: all .3s ease-in-out;

        i {
            padding: 9px 0
        }

        &.hover {
            top: 25px !important;
            opacity: 1;
            @include transform(scale(1.0));
            z-index: 0;
        }
    }

    &.hover {
        opacity: 1;
    }

    &.share {
        right: 8%;
        margin-right: 48 + 15px;
    }
}

.share-modal {
    .modal-content {
        border-radius: 3px;

        .modal-header {
            border: none
        }

        .modal-body {
            padding: 15px 0;

            .share-link {
                padding: 5px 15px;
                width: 100%;
                font-size: 24px;
            }
        }
    }
}


@include keyframes(inReturn) {
    0% {
        top: 25px;
        @include transform(scale(0));
    }

    60% {
        top: 25px;
        @include transform(scale(1.1));
    }

    100% {
        top: 25px;
        @include transform(scale(1));
    }
};

@include keyframes(outReturn) {
    100% {
        top: 25px;
        @include transform(scale(0));
    }

    0% {
        top: 25px;
        @include transform(scale(1));
    }
};
